
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

.active-class-name{

  background-color: #131316;
  border-radius: 100px;
  color: #fff;
  height: 40px;

}